{% extends 'base.html' %}

{% block title %}RP | Pagina non trovata{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>Pagina non trovata</h1>
    <div class="alert alert-danger" role="alert">
      <p>Può essere che la pagina non esiste più, oppure che il link è sbagliato.</p>
      <p>Accertati di non aver inserito un indirizzo inesistente.</p>
    </div>
    <p>Utilizzate questo <a href="/contacts">modulo</a> per notificare l'inconveniente.</p>
  </div>
</div>
{% endblock content %}
