{% extends 'base.html' %}

{% block title %}RP | {{ race.title }}{%endblock title %}
{% block content %}
<h1>Gara: {{ race.title }}</h1>
<p>data: {{ race.get_date }}</p>
<p>luogo: {{ race.get_location }}</p>
<p>cronaca: <a href="{{ race.event.get_path }}">{{ race.event.title }}</a></p>
<p>{{ race.description }}</p>
{% if females %}
<h3>Femmine</h3>
  <ul>
  {% for female in females %}
    <li>
      {{ female.user.get_full_name_reverse }}, {{ female.points }}
    </li>
  {% endfor %}
  </ul>
{% endif %}
{% if males %}
<h3>Maschi</h3>
  <ul>
  {% for male in males %}
    <li>
      {{ male.user.get_full_name_reverse }}, {{ male.points }}
    </li>
  {% endfor %}
  </ul>
{% endif %}
{% endblock content %}
