{% extends 'base.html' %}

{% block title %}RP | Criterium {{ year }}-{{ year2 }}{% endblock title %}
{% block content %}
<h2>Criterium edizione {{ year }}-{{ year2 }}
<hr class="mb-4">
{% if all_races %}
  <h3>Lista delle gare</h3>
  <ul>
  {% for race in all_races %}
    <li>
      <a href="{{ race.get_path }}">{{ race.title }} </a>
      {{ race.date|date:"d M Y"}}, {{ race.get_location }}
    </li>
  {% endfor %}
  </ul>
  {% if females %}
  <h3>Classifica femminile {{ status }}</h3>
    <ul>
    {% for name, points in females.items %}
      <li>
        {{ name }}, {{ points }}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  {% if males %}
  <h3>Classifica maschile {{ status }}</h3>
    <ul>
    {% for name, points in males.items %}
      <li>
        {{ name }}, {{ points }}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% else %}
    <div class="col-md-12">
        <h4>Non sono registrate gare in questa edizione.</h4>
    </div>
{% endif %}
<hr class="mb-4">
  <nav aria-label="Page navigation container">
  <ul class="pagination justify-content-center">
    <li><a href="/criterium/{{ year0 }}-{{ year }}/" class="page-link">&laquo; PRECEDENTE </a></li>
    <li><a href="/criterium/{{ year2 }}-{{ year3 }}/" class="page-link"> SUCCESSIVA &raquo;</a></li>
  </ul>
  </nav>
{% endblock content %}
