{% extends 'base.html' %}

{% block title %}RP | Calendario{% endblock title %}
{% block content %}
<h1>Appuntamenti e cronache</h1>
  <ul>
    {% for event in latest %}
      <li>{{ event.date }}: {{ event.title }}</li>
    {% endfor %}
  </ul>
{% if is_paginated %}
  <nav aria-label="Page navigation container">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PRECEDENTI </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> PROSSIMI &raquo;</a></li>
    {% endif %}
  </ul>
  </nav>
{% endif %}
{% endblock content %}
