{% extends 'base.html' %}

{% block title %}RP | {{ event.title }}{% endblock title %}
{% block content %}
      {% if event.get_image %}
        <div class="row">
          <img src="{{ event.get_image.image.url }}" width="100%" alt="{{ event.get_image.image.description }}" />
        </div>
      {% endif %}
      <div class="row row-striped">
        <div class="col-md-2 text-right">
          <h1 class="display-4"><span class="badge badge-{{ event.get_badge_color }}">{{ event.date|date:"j" }}</span></h1>
          <a href="/calendario/{{ event.date|date:"Y/m" }}/"><h4>{{ event.date|date:"M-Y" }}</h4></a>
        </div>
        <div class="col-md-10">
          <h3 class="text-uppercase"><strong>{{ event.title }}</strong></h3>
          <ul class="list-inline">
            <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ event.date|date:"l" }}</li>
            <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.date|date:"H:i" }}</li>
            <li class="list-inline-item">
              <i class="fa fa-location-arrow" aria-hidden="true"></i>
              <a href="/luoghi/{{ event.location.slug }}">{{ event.location.title }}</a>
            </li>
            {% if event.manager %}
            <li class="list-inline-item">
              <i class="fa fa-user" aria-hidden="true"></i>
              {% if user.is_authenticated %}
              <a href="/contacts/?recipient={{ event.manager_id }}">{{ event.manager }}</a>
              {% else %}
              {{ event.manager }}
              {% endif %}
            </li>
            {% endif %}
            {% if event.get_tags %}
              <li class="list-inline-item">
                <i class="fa fa-folder-open" aria-hidden="true"></i>
                {% for tag in event.get_tags %}
                  {{ tag }}
                {% endfor %}
              </li>
            {% endif %}
          </ul>
          <p>{{ event.intro }}</p>
        </div>
      </div>
      {% if event.get_upgrades %}
        {% for upgrade in event.get_upgrades %}
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h4><strong>Aggiornamento del {{ upgrade.date|date:"d M Y" }} - {{ upgrade.title }}</strong></h4>
            {{ upgrade.body|safe }}
          </div>
        </div>
        <hr class="mb-4">
        {% endfor %}
        <div class="row"><div class="col-md-2"></div>
        <h4 class="col-md-8"><strong>Articolo originale</strong></h4></div>
      {% endif %}
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          {{ event.body|safe }}
        </div>
      </div>

{% endblock content %}
