{% extends 'base.html' %}
{% load static %}

{% block title %}RP | Dove corriamo{% endblock title %}
{% block content %}
<h1>Dove corriamo e altri luoghi</h1>
  <div class="card-deck">
  {% for location in all_locations %}
    <div class="card" style="margin-bottom: 20px; min-width: 18rem;">
      <img class="card-img-top" src="{{ location.image.image.url }}" alt="{{ location.image.image.description }}">
      <div class="card-body">
        <h5 class="card-title">{{ location.title }}</h5>
        <p class="card-text">{{ location.address }}</p>
        <a href="/luoghi/{{ location.slug }}" class="card-link">Dettagli</a>
        {% if location.gmap_link %}
        <a href="{{ location.gmap_link }}" class="card-link">Mappa</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  </div>
{% if is_paginated %}
  <nav aria-label="Page navigation container">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PRECEDENTI </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> PROSSIMI &raquo;</a></li>
    {% endif %}
  </ul>
  </nav>
{% endif %}
{% endblock content %}
