{% extends 'contact.html' %}

{% block title %}RP | Aggiungi contributo{% endblock title %}
{% block contact_msg %}
<h1>Aggiungi un contributo</h1>
<p>Ciao {{ user.first_name }}, inserisci qui sotto il tuo contributo e poi invia.</p>
<form action="" method="post" class="needs-validation" novalidate>
          <div class="row">
            <div class="col-md-9 mb-3">
              <label for="image">Immagine</label>
              {{ form.image }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-9 mb-3">
              <label for="message">Messaggio </label>
              {{ form.body }}
              <div class="invalid-feedback">
                E' necessario inserire il messaggio.
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <button class="btn btn-success btn-lg btn-block" type="submit">Invia</button>
          <hr class="mb-4">
  {% csrf_token %}
</form>
{% endblock contact_msg %}
