<div class="row">
  <div class="col-md-6 mb-3">
    <label for="email_2">Email secondaria</label>
    {{ form.email_2 }}
    <small id="address-help" class="form-text text-muted">
      Non si sa mai...</small>
  </div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
    <label for="address">Indirizzo</label>
    {{ form.address }}
    <small id="address-help" class="form-text text-muted">
      {{ form.address.help_text }}</small>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-3">
    <label for="phone">Numero di telefono</label>
    {{ form.phone }}
    <small id="address-help" class="form-text text-muted">
      Solo per comunicazioni urgenti</small>
  </div>
  <div class="col-md-6 mb-3">
    <label for="fiscal_code">Codice Fiscale</label>
    {{ form.fiscal_code }}
    <small id="address-help" class="form-text text-muted">
      Per eventuali ricevute</small>
  </div>
</div>
