{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}RP | Modifica profilo{%endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>Modifica il profilo di {{ member.get_full_name_reverse }}</strong></h4>
    <p>Corre con noi e segue un corso.</p>
    <p>I dettagli di contatto sono quelli del genitore ({{ user.member.get_full_name_reverse }})</p>
    <hr class="mb-4">
    <form action="" method="post" enctype="multipart/form-data" novalidate>
              {% if member.avatar %}{{ member.get_thumb }}{% endif %}
              {{ form|crispy }}
              {% include 'users/profile_includes/button.html' %}
      {% csrf_token %}
    </form>
  </div>
</div>
{% endblock content %}
