/*
    RP frontend styles
*/

/* LINKS */

a:link, a:visited {
    color: #24890d;
    text-decoration: none;
}

a:focus, a:hover {
    color: #88a91e;
}

a:focus {
    text-decoration: underline;
}

.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}
