{% extends 'base.html' %}

{% block title %}RP | {{ post.title }}{% endblock title %}

{% block content %}

  {% if post.visible %}
    {% include 'wordpress/wp_detail_content.html' %}
  {% else %}
    {% if user.is_authenticated %}
      {% include 'wordpress/wp_detail_content.html' %}
    {% else %}
      <div class="row">
        Esegui il <a href="/admin/login/?next={{ request.get_full_path }}">&nbsp;login&nbsp;</a> se vuoi accedere al contenuto
      </div>
    {% endif %}
  {% endif %}

{% endblock content %}
